<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% if app.environment == 'dev' %}
                <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset('assets/dist/css/styles.min.css') }}">
            {% endif %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% if app.environment == 'dev' %}
                <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/bootstrap.js') }}"></script>
            {% else %}
                <script type="text/javascript" src="{{ asset('assets/dist/js/scripts.min.js') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
