<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% if app.environment == 'dev' %}
                <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ asset('assets/css/blog.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset('assets/dist/css/styles.min.css') }}">
            {% endif %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>

                        {% if app.user %}
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        {% else %}
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        {% endif %}
                    </button>
                    <a class="navbar-brand" href="{{ path('soyoz_blog_homepage') }}">DemoSymfonyBlog</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav pull-right">
                        {% if app.user %}
                            <li>
                                <a href="{{ path('soyoz_blog_admin') }}">Admin</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">Login</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}
            {% if app.environment == 'dev' %}
                <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/bootstrap.js') }}"></script>
            {% else %}
                <script type="text/javascript" src="{{ asset('assets/dist/js/scripts.min.js') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
