{% extends "::base.html.twig" %}

{% block title %}DemoSymfonyBlog - {{ post.title }}{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-12">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ post.title }}</h1>

            <!-- Author -->
            <p class="lead">
                by {{ post.createdUser.username }}
            </p>

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.createdAt|date("Y-m-d") }}</p>

            <hr>

            <!-- Post Content -->
            <p>{{ post.description }}</p>

            <hr>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
